services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    command: >
      postgres
      -c shared_buffers=128MB
      -c effective_cache_size=256MB
      -c work_mem=4MB
      -c max_connections=40
    environment:
      POSTGRES_DB: "{{ postgres.db }}"
      POSTGRES_USER: "{{ postgres.user }}"
      POSTGRES_PASSWORD: "{{ postgres.password }}"
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./data:/var/lib/postgresql
    networks:
      - postgres
    shm_size: 128m
    deploy:
      resources:
        limits:
          memory: 512m

networks:
  postgres:
    name: postgres
