---

- name: Login and get primary session token
  effectivelywild.technitium_dns.technitium_dns_login:
    api_url: "http://localhost"
    username: "{{ dns.technitium.user }}"
    password: "{{ dns.technitium.password }}"
  register: primary_login_response
  when: inventory_hostname == 'loki'

- name: Get cluster status
  effectivelywild.technitium_dns.technitium_dns_get_cluster_state:
    api_url: "http://localhost"
    api_token: "{{ primary_login_response.token }}"
  register: cluster_response
  when: inventory_hostname == 'loki'

- name: Initialize cluster on primary node
  effectivelywild.technitium_dns.technitium_dns_init_cluster:
    api_url: "http://localhost"
    api_token: "{{ primary_login_response.token }}"
    cluster_domain: "{{ dns.technitium.cluster_domain }}"
    primary_node_ip_addresses:
      - "{{ dns.primary.ip }}"
  register: init_cluster_result
  when:
    - inventory_hostname == 'loki'
    - not cluster_response.cluster_state.clusterInitialized

- name: Wait for cluster to stabilize
  ansible.builtin.pause:
    seconds: 30
  when:
    - inventory_hostname == 'loki'
    - not cluster_response.cluster_state.clusterInitialized

# Check secondary node and see if it needs to be added to the cluster
- name: Login and get secondary session token
  effectivelywild.technitium_dns.technitium_dns_login:
    api_url: "http://localhost"
    username: "{{ dns.technitium.user }}"
    password: "{{ dns.technitium.password }}"
  register: secondary_login_response
  when: inventory_hostname == 'cherrypi'


- name: Get cluster status from secondary node
  effectivelywild.technitium_dns.technitium_dns_get_cluster_state:
    api_url: "http://localhost"
    api_token: "{{ secondary_login_response.token }}"
  register: cluster_secondary_response
  when: inventory_hostname == 'cherrypi'

- name: Join secondary to cluster
  effectivelywild.technitium_dns.technitium_dns_init_join_cluster:
    api_url: "http://localhost"
    api_token: "{{ secondary_login_response.token }}"
    secondary_node_ip_addresses:
      - "{{ dns.secondary.ip }}"
    primary_node_url: "https://{{ dns.technitium.cluster_domain }}:53443"
    primary_node_ip_address: "{{ dns.primary.ip }}"
    primary_node_username: "admin"
    primary_node_password: "{{ dns.technitium.password }}"
    # Needed because we can't use a cert from traefik as technitium nodes
    # expect to speak directly to each other
    ignore_certificate_errors: true
  register: join_cluster_result
  retries: 3
  delay: 20
  until: join_cluster_result is success
  when:
    - inventory_hostname == 'cherrypi'
    - not cluster_secondary_response.cluster_state.clusterInitialized
