[tasks.deploy]
run = "ansible-playbook run.yml"

[tasks.dns]
run = "ansible-playbook dns.yml"

[tasks.vault]
description = "Vault management"
usage = '''
arg "<action>" help="Vault action" {
  choices "encrypt" "decrypt" "edit" "view"
}
'''
run = '''
ansible-vault "${usage_action?}" group_vars/all/secrets.yml
'''

[tasks.reqs]
run = "ansible-galaxy install -r requirements.yml"

[tasks.init]
run = '''
#!/usr/bin/env bash
if [ -d .git/ ]; then
  rm .git/hooks/pre-commit
  cp -v scripts/hooks/pre-commit .git/hooks/pre-commit
  chmod +x .git/hooks/pre-commit
fi
'''
