services:
  it-tools:
    image: corentinth/it-tools:latest
    restart: unless-stopped
    networks:
      proxy:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.it-tools.rule=Host(`tools.{{ domain }}`)"

networks:
  proxy:
    external: true
