# vim: set filetype=yaml.jinja2 :

services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: unless-stopped
    networks:
      proxy:
    environment:
      - DATA_DIR=/opt/dockhand
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/dockhand:/opt/dockhand
    labels:
      - traefik.enable=true
      - traefik.http.routers.dockhand.rule=Host(`dockhand.{{ inventory_hostname }}.{{ domain }}`)
      - traefik.http.services.dockhand.loadbalancer.server.port=3000

{% if docker_monitoring | default(false) %}
  hawser:
    image: ghcr.io/finsys/hawser:latest
    networks:
      proxy:
    environment:
      - TOKEN={{ hawser_token }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - traefik.enable=true
      - traefik.http.routers.hawser.rule=Host(`hawser.{{ inventory_hostname }}.{{ domain }}`)
      - traefik.http.services.hawser.loadbalancer.server.port=2376
{% endif %}

networks:
  proxy:
    external: true
