---
- name: Set amd64 architecture
  ansible.builtin.set_fact:
    docker_arch: amd64
  when: ansible_facts['architecture'] == "x86_64"

- name: Set arm64 architecture
  ansible.builtin.set_fact:
    docker_arch: arm64
  when: ansible_facts['architecture'] == "aarch64"

- name: Install docker dependencies
  ansible.builtin.apt:
    pkg:
      - ca-certificates
      - curl

- name: Install docker apt repository
  block:
    - name: Fetch GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "a+r"

    - name: Add repository to apt sources
      ansible.builtin.apt_repository:
        # yamllint disable rule:line-length
        repo: deb [arch={{ docker_arch }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_facts['distribution'] | lower }} {{ ansible_facts['distribution_release'] }} stable
        filename: docker
        state: present

- name: Install docker
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
