http:
  middlewares:
    compress:
      compress:
        encodings:
          - zstd
          - br
          - gzip

    secure-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        referrerPolicy: strict-origin-when-cross-origin

tls:
  options:
    modern:
      minVersion: VersionTLS13
