log:
  level: info
runner:
  capacity: 1
  envs:
    DOCKER_HOST: tcp://docker-in-docker:2375
  labels:
    - debian:docker://docker.io/library/node:lts
    - ubuntu-latest:docker://ghcr.io/catthehacker/ubuntu:act-24.04
server:
  connections:
    forgejo:
      url: http://forgejo:3000
      uuid: {{ runner_uuid }}
      token: {{ forgejo.runner.secret }}
container:
  docker_host: tcp://docker-in-docker:2375
  network: forgejo
